.navbar{
    top: 0;
    margin-top: 0px;
    display: flex;
    align-items: center;
    background-color: white;
    height: 100px;
    width: 1490px;
    position: absolute;
    overflow: hidden;
    position:fixed;
}
.navbar-logo{
    height: 66px;
    width: 63px;
    margin-left: 70px;
}
.navbar-links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    justify-content: space-between;
}
.navbar-links li{
    margin: 0 15px;
}
.navbar-links a{
    color: #274760;
    font-size: 16px;
    font-weight: 400;
}
#searchicon{
    margin-left: 560px;
    color: #274760;
}
#listicon{
    margin-right: 60px;
    color: #274760;
}
.Home{
    background-color: white;
    border: none;
    margin: 0 15px;
    color: #274760;
    font-size: 15px;
    font-weight: 400;
}
.Pages{
    background-color: white;
    border: none;
    margin: 0 15px;
    color: #274760;
    font-size: 15px;
    font-weight: 400;
}
.Pages option{
    font-size: 16px;
    font-weight: 400;
}
@media screen and (max-width: 1280px){
    .navbar {
        width: 100%;
        height: 100px;
    }
    .navbar-logo{
        margin-right: 10px;
    }
    .navbar .navbar-links{
        margin-right:150px;
       
    }
    .navbar #searchicon{
        margin-right: 9px;
    }
    
    .navbar #listicon{
        margin-right: 120px;
    }
}
@media screen and (max-width: 1280px) {
    .navbar{
        width: 100%;
        background-color: white;
    }
    .navbar-links{
        margin-right: -1720px;
    }
    .navbar #searchicon{
        margin-left: 70px;
    }
    
}
@media screen and (max-width: 1024px){
    .navbar {
        width: 100%;
        height: 80px;
        margin-left: -30px;
    }
    .navbar-links{
        margin-left: -580px;
    }
    .navbar #searchicon{
        margin-left: -620px;
    }
}
@media screen and (max-width: 768px){
    .navbar {
        width: 100%;
        height: 60px;
        display: columns;
        }
    .navbar-links{
        margin-right: -300px;
    }
    .navbar #searchicon{
        margin-right: -170px;
    }
    
}
@media screen and (max-width: 440px){
    .navbar {
        width: 100%;
        height: 60px;
        display: columns;
        margin-left: -30px;
    }

}