.head, .img2{
    float: left;
}
.img2{
    width: 722.5px;
    height: 704px;
    padding: 55px 12px 0px 12px;
    margin-top: 30px;
}

.head{
    font-family: Inter;
    font-size: 47.78px;
    font-weight: 700;
    line-height: 82px;
    text-align: left;
    color: #274760;
    margin-top: 50px;
}
p{
    margin-top: 70px;
}